@import url(https://fonts.google.com/);

.index{
    background-image: url("bg3.jpg");
    background-size: 100%;
    margin:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.index1{
   
    font-family:orbitron;
    color: white;
    font-size: 50px;
    font-weight:bold;
    text-align: center;
    margin: 0;
    height: 220px;
    display:flex;

}

.index2{
    width:550px;
    height: 463.23px;
    margin: auto;
    display: block;
    align-items: right;
    padding-right: 5%;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}


.index3{
    text-align:center;
    padding-left:23%;
    
}

.indexsign{ 

  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  border: 2px solid white;
  padding: 8px 20px;
  border-radius: 50px;
  
}
    
.indexsign:hover{
  background-color: white;
  color: #1e90ff;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("bg3.jpg");
  background-size: 100%;
}

.signincontainer {
  width: 800px;
  height: 450px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}


.signinleft {
  flex: 1;
  background: linear-gradient(to bottom right,  #1E90FF);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.signinleft button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.signinleft button:hover {
  background: white;
  color:  #1E90FF;
}


.signinright {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.signinright h2 {
  color:  #1E90FF;
  margin-bottom: 20px;
}

.signinright form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.signinfield {
  width: 100%;
  margin: 10px 0;
}

.signinfield input {
  width: 100%;
  padding: 10px;
  border: 1px solid  #1E90FF;
  border-radius: 25px;
  outline: none;
  text-align: center;
}

.signina {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  font-size: 20px;
  color:  #1E90FF;
}

.login-btn {
  
  background:  #1E90FF;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
  
  
}

.login-btn:hover {
  background:  #1E90FF;
}



.signupcontainer {
  display: flex;
  width: 800px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.signupform-container {
  flex: 1;
  padding: 50px;
  background-color: #fff;
}

.signupform-container h2 {
  color:  #1E90FF;
  margin-bottom: 20px;
}

.signupinput-group {
  position: relative;
  margin-bottom: 15px;
}

.signupinput-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

.signupinput-group input {
  width: 100%;
  padding: 10px 40px;
  border: none;
  background-color:  skyblue;
  border-radius: 25px;
  outline: none;
  color: #000;
}

.signuptoggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.signupbtn {
  width: 100%;
  background-color:  #1E90FF;
  border: none;
  color: white;
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.signupside-container {
  flex: 1;
  background-color:  #1E90FF;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.signupside-container h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.signupside-container p {
  font-size: 14px;
  margin-bottom: 20px;
}

.signupbtn-outline {
  background:  #1E90FF;
  color: white;
  color: white;
  border: 2px solid #fff;
  margin: 5px 0px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px;
  font-size: 15px;
}

.signupbtn-outline:hover {
  background-color:  white;
  color: #1E90FF;
}


